body {
    background: rgb(104,117,178);
}

.container {
    max-width: 960px;
    margin: 10px auto;
    padding: 10px;
    background: rgba(255,255,255,.2);
}

h1{
    color: rgb(255,121,77);
    padding: 10px;
    font-family: cursive;
}

h2 {
    padding: 10px;
    font-family: cursive;
    color: rgb(127,204,61);
}

p {
    padding: 10px 20px;
    color: rgb(255,121,77);
}


a {
    font-size: 20pt;
    text-decoration: none;
    color:rgb(127,204,61);
    padding: 30px;
}

a:hover {
    text-decoration: underline;
    color: rgb(104,117,200);
}

a:visited {
    color:rgb(127,204,200);
}

header {
    background: rgb(255,121,77);
    font-weight: 800;
    text-align: center;
}

header h1 {
    color: white;
}
table {
    width: 100%;
    border-spacing: 10px;
}

th {
    text-align: left;
}


table,
td,
th {
    border: 3px solid rgb(255,121,77);
    text-align: center;
    border-radius: 5px;
}

td,
th {
    padding: 15px;
}
caption{
    font-size: 20pt;
    color:darkred;
    font-weight: bold;
    
}